<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Node Express API</title>
</head>

<body>
    <header>
    <div class="main">
        <nav>
            <a href="/" id="red">Home</a>
            <a href="about" id="purple">About</a>
            <a href="/contacts" id="pink">Contacts</a>
            <a href="/students" id="blue">Students</a>
            <a href="/api/v1/students" id="green">API</a>
        </nav>
    </div>
        <h1>About US</h1>
    </header>
</body>

</html>